{% extends 'nav.html' %}
{% load static %}
{% block content %}
<!--start main-->
<div class="col-sm-12 mainbody">
    <!--start shopcontainer-->
    <div class="shopcontainer">
        <h1>product checkout</h1>
        <p>proceed to checkout your order</p>
    </div>
    <!--end shopcontainer-->
    <!-- start confirmbody -->
    <div class="col-sm-10 confirmbody">
       
        
        <!-- start orderconfirmbd -->
        <div class="col-sm-12 orderconfirmbd">
            <!-- start orderconfirmbdhead -->
            <div class="col-sm-12 orderconfirmbdhead">
                <h5>order details</h5>
            </div>
            <!-- end orderconfirmbdhead -->
            <!-- start orderconhd -->
            <div class="col-sm-12 orderconhd">
                <!-- start 6 -->
                <div class="col-sm-6 ips">
                    <h6>product</h6>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="col-sm-4 conhd">
                    <h6>quantity</h6>
                    <h6>total</h6>

                </div>
                <!-- end 6 -->

            </div>
            <!-- end orderconhd -->
            <!-- start orderconhd -->
            <div class="col-sm-12 orderconhdsub">
                <!-- start 6 -->
                <div class="col-sm-6 ips">
                    <p>nike airforce</p>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="col-sm-4 conhd">
                    <p>x 2</p>
                    <p>ghc 130.00</p>
            
                </div>
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd -->
            <!-- start orderconhd -->
            <div class="col-sm-12 orderconhdsub">
                <!-- start 6 -->
                <div class="col-sm-6 ips ">
                    <p>nike airforce</p>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="col-sm-4 conhd">
                    <p>x 2</p>
                    <p>ghc 130.00</p>
            
                </div>
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd -->
            <!-- start orderconhd -->
            <div class="col-sm-12 orderconhdsub">
                <!-- start 6 -->
                <div class="col-sm-6 ips">
                    <p>nike airforce</p>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="col-sm-4 conhd">
                    <p>x 2</p>
                    <p>ghc 130.00</p>
            
                </div>
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd -->
            <!-- start orderconhd2 -->
            <div class="col-sm-10 orderconhdsub2">
                <!-- start 6 -->
                <div class="">
                    <h5>subtotal</h5>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="conhd2">
                    <p>ghc 320.00</p>
            
                </div>
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd2 -->
            <!-- start orderconhd2 -->
            <div class="col-sm-10 orderconhdsub2">
                <!-- start 6 -->
                <div class="">
                    <h5>delivery</h5>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="conhd2">
                    <p>ghc 21.00</p>
            
                </div>
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd2 -->
            <!-- start orderconhd3 -->
            <div class="col-sm-12 orderconhd3hed">
<div class="col-sm-10 orderconhdsub3">
    <!-- start 6 -->
    <div class="">
        <h5>total</h5>
    </div>
    <!-- end 6 -->
    <!-- start 6 -->
    <div class="conhd2">
        <p>ghc 2132.00</p>

    </div>
            </div>
            
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd3 -->



        </div>
        <!-- end orderconfirmbd -->
        <!-- start confirmtxt -->
        <div class="col-sm-12 confirmtxt">
            <p>check payments</p>
        </div>
        <!-- end confirmtxt -->
        <!-- start confirmorder -->
        <div class="col-sm-12 confirmorder">
            <!-- start row -->
            <div class="row ">
                <!-- start orderbox -->
                <div class="col-sm-4 orderbox">
                    <!-- start orderboxitems -->
                    <div class="col-sm-12 orderboxitems bg-danger checkoutbox">
                        <!-- start itemshed -->
                        <div class="itemshed">
                            <h5 style="color:white">delivery details</h5>
                        </div>
                        <!-- end itemshed -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p style="color:white">city</p>
                            <p style="color:white">: accra</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p style="color:white">laction</p>
                            <p style="color:white">: north, legon</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p style="color:white">landmark</p>
                            <p style="color:white">: church</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p style="color:white">postal address</p>
                            <p style="color:white">: GE GP 123</p>
                        </div>
                        <!-- end itemshedbody -->
                
                    </div>
                    <!-- end orderboxitems -->
                </div>
                <!-- end orderbox -->
                <!-- start orderbox -->
                <div class="col-sm-4 orderbox">
                    <!-- start orderboxitems -->
                    <div class="col-sm-12 orderboxitems bg-warning">
                        <!-- start itemshed -->
                        <div class="itemshed">
                            
                            <img src="{% static 'img/MTN-Mobile-Money-Logo-200x200-1.png' %}" height="100%" width="10%" alt="logo" />
                        <h5 style="color:white">mobile money</h5>
                        </div>
                        <!-- end itemshed -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <input type="radio" name="mtn" value="mtn">
                            <p style="color:white">MTN</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <input type="radio" name="mtn" value="vodafone">

                            <p style="color:white">VODAFONE</p>
                            
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <input type="radio" name="mtn" value="airteltigo">

                            <p style="color:white">AIRTEL/TIGO</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <input type="radio" name="mtn" value="visa">

                            <p style="color:white">VISA</p>
                        </div>
                        <!-- end itemshedbody -->
        
                    </div>
                    <!-- end orderboxitems -->
                </div>
                <!-- end orderbox -->
                <!-- start orderbox -->
                <div class="col-sm-4 orderbox">
                    <!-- start orderboxitems -->
                    <div class="col-sm-12 orderboxitems bg-primary">
                        <!-- start itemshed -->
                        <div class="itemshed">
                            <h5 style="color:white">PayPal</h5>
                        </div>
                        <!-- end itemshed -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody1">
                            <img src="{% static 'img/068BjcjwBw0snwHIq0KNo5m-15.webp' %}" height="100%" width="65%"
                                alt="logo" />
                           
                           
                        </div>
                        <!-- end itemshedbody -->
                        
                        
                       
        
                    </div>
                    <!-- end orderboxitems -->
                </div>
                <!-- end orderbox -->
               
            </div>
            <!-- end row -->
        
        </div>
        <!-- end confirmorder -->
    </div>
    <!-- end confirmbody--> 
   
</div>
<!--end main-->

{% endblock %}