{% extends 'nav.html' %}
{% load static %}
{% block content %}
<!--start main-->
<div class="col-sm-12 mainbody">
    <!--start shopcontainer-->
    <div class="shopcontainer">
        <h1>order confirmation</h1>
        <p>view your confirmaed orders</p>
    </div>
    <!--end shopcontainer-->
    <!-- start confirmbody -->
    <div class="col-sm-10 confirmbody">
        <!-- start confirmtxt -->
        <div class="col-sm-12 confirmtxt">
            <p>Thank you. Your order has been received.</p>
        </div>
        <!-- end confirmtxt -->
        <!-- start confirmorder -->
        <div class="col-sm-12 confirmorder">
            <!-- start row -->
            <div class="row">
                <!-- start orderbox -->
                <div class="col-sm-4 orderbox">
                    <!-- start orderboxitems -->
                    <div class="col-sm-12 orderboxitems">
                        <!-- start itemshed -->
                        <div class="itemshed">
                            <h5>order info</h5>
                        </div>
                        <!-- end itemshed -->
                <!-- start itemshedbody -->
                <div class="col-sm-12 itemshedbody">
                   <p>order number</p>
                   <p>: 938281</p>
                </div>
                <!-- end itemshedbody -->
                <!-- start itemshedbody -->
                <div class="col-sm-12 itemshedbody">
                    <p>date</p>
                    <p>: oct 03, 2022</p>
                </div>
                <!-- end itemshedbody -->
                <!-- start itemshedbody -->
                <div class="col-sm-12 itemshedbody">
                    <p>total</p>
                    <p>: ghc 300.00</p>
                </div>
                <!-- end itemshedbody -->
                <!-- start itemshedbody -->
                <div class="col-sm-12 itemshedbody">
                    <p>payment method</p>
                    <p>: mobile money</p>
                </div>
                <!-- end itemshedbody -->

                    </div>
                    <!-- end orderboxitems -->
                </div>
                <!-- end orderbox -->
                <!-- start orderbox -->
                <div class="col-sm-4 orderbox">
                    <!-- start orderboxitems -->
                    <div class="col-sm-12 orderboxitems">
                        <!-- start itemshed -->
                        <div class="itemshed">
                            <h5>billing address</h5>
                        </div>
                        <!-- end itemshed -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p>product</p>
                            <p>: nike airforce</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p>quantity</p>
                            <p>: x2</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p>price</p>
                            <p>: ghc 120.00</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p>total</p>
                            <p>: ghc 320.00</p>
                        </div>
                        <!-- end itemshedbody -->
                
                    </div>
                    <!-- end orderboxitems -->
                </div>
                <!-- end orderbox -->
                <!-- start orderbox -->
                <div class="col-sm-4 orderbox">
                    <!-- start orderboxitems -->
                    <div class="col-sm-12 orderboxitems">
                        <!-- start itemshed -->
                        <div class="itemshed">
                            <h5>delivery details</h5>
                        </div>
                        <!-- end itemshed -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p>city</p>
                            <p>: accra</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p>laction</p>
                            <p>: north, legon</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p>landmark</p>
                            <p>: church</p>
                        </div>
                        <!-- end itemshedbody -->
                        <!-- start itemshedbody -->
                        <div class="col-sm-12 itemshedbody">
                            <p>postal address</p>
                            <p>: GE GP 123</p>
                        </div>
                        <!-- end itemshedbody -->
                
                    </div>
                    <!-- end orderboxitems -->
                </div>
                <!-- end orderbox -->
            </div>
            <!-- end row -->
           
        </div>
        <!-- end confirmorder -->
        <!-- start orderconfirmbd -->
        <div class="col-sm-12 orderconfirmbd">
            <!-- start orderconfirmbdhead -->
            <div class="col-sm-12 orderconfirmbdhead">
                <h5>order details</h5>
            </div>
            <!-- end orderconfirmbdhead -->
            <!-- start orderconhd -->
            <div class="col-sm-12 orderconhd">
                <!-- start 6 -->
                <div class="col-sm-6 ">
                    <h6>product</h6>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="col-sm-4 conhd">
                    <h6>quantity</h6>
                    <h6>total</h6>

                </div>
                <!-- end 6 -->

            </div>
            <!-- end orderconhd -->
            <!-- start orderconhd -->
            <div class="col-sm-12 orderconhdsub">
                <!-- start 6 -->
                <div class="col-sm-6 ">
                    <p>nike airforce</p>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="col-sm-4 conhd">
                    <p>x 2</p>
                    <p>ghc 130.00</p>
            
                </div>
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd -->
            <!-- start orderconhd -->
            <div class="col-sm-12 orderconhdsub">
                <!-- start 6 -->
                <div class="col-sm-6 ">
                    <p>nike airforce</p>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="col-sm-4 conhd">
                    <p>x 2</p>
                    <p>ghc 130.00</p>
            
                </div>
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd -->
            <!-- start orderconhd -->
            <div class="col-sm-12 orderconhdsub">
                <!-- start 6 -->
                <div class="col-sm-6 ">
                    <p>nike airforce</p>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="col-sm-4 conhd">
                    <p>x 2</p>
                    <p>ghc 130.00</p>
            
                </div>
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd -->
            <!-- start orderconhd2 -->
            <div class="col-sm-10 orderconhdsub2">
                <!-- start 6 -->
                <div class="">
                    <h5>subtotal</h5>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="conhd2">
                    <p>ghc 320.00</p>
            
                </div>
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd2 -->
            <!-- start orderconhd2 -->
            <div class="col-sm-10 orderconhdsub2">
                <!-- start 6 -->
                <div class="">
                    <h5>delivery</h5>
                </div>
                <!-- end 6 -->
                <!-- start 6 -->
                <div class="conhd2">
                    <p>ghc 21.00</p>
            
                </div>
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd2 -->
            <!-- start orderconhd3 -->
            <div class="col-sm-12 orderconhd3hed">
<div class="col-sm-10 orderconhdsub3">
    <!-- start 6 -->
    <div class="">
        <h5>total</h5>
    </div>
    <!-- end 6 -->
    <!-- start 6 -->
    <div class="conhd2">
        <p>ghc 2132.00</p>

    </div>
            </div>
            
                <!-- end 6 -->
            
            </div>
            <!-- end orderconhd3 -->



        </div>
        <!-- end orderconfirmbd -->
    </div>
    <!-- end confirmbody--> 
   
</div>
<!--end main-->

{% endblock %}