{% extends 'nav.html' %}
{% load static %}
{% block content %}
        <!--start main-->
        <div class="col-sm-12 mainbody">
<div class="row">
    <div class="col-sm-4 mainright"></div>
    <div class="col-sm-8 mainleft"></div>
    <!--absolute-->
<div class="mainabsolute col-sm-10">
<div class="row absoluterow">
    <div class="col-sm-4 absoluteright">
    <img src="{% static 'img/stock-photo-shopping-cart-presents-shopping-bags.jpeg' %}" height="90%" width="100%" alt="logo">

    </div>
    <div class="col-sm-8 absoluteleft">
        <h3>have fun while you shop</h3>
        <h1>explore all our products</h1>
        <div class="col-sm-8 textleft ">
<p>Us which over of signs divide dominion deep fill
    bring they're meat beho upon own earth without morning
    over third. Their male dry. They are great appear whose
    land fly grass.</p>
        </div>

<a href="{% url 'mysiteUrls:shopPage' %}" class="explore">explore</a>
    </div>
</div>
</div>
    
    <!--end absolute-->



<!--start after-->
<div class="col-sm-12 itemwrapper ">
    <div class="row ">
        <!--start box-->
        <div class="col-sm-4 itemafter">
    <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%"
        alt="logo">
<div class="itemaftersubmain">
<div class="itemaftersub">
    <h6>nike air force</h6>
    <p>shoes category</p>
</div>
        </div>
            
        </div>
        <!--end box-->
        <!--start box-->
        <div class="col-sm-4 itemafter">
            <img src="{% static 'img//products/299-2994689_nike-sb-pique-polo-high-resolution-black-t.png' %}" height="100%" width="100%"
                alt="logo">
            <div class="itemaftersubmain">
                <div class="itemaftersub">
                    <h6>nike short shirt</h6>
                    <p>clothing category</p>
                </div>
            </div>
        
        </div>
        <!--end box-->
        <!--start box-->
        <div class="col-sm-4 itemafter">
            <img src="{% static 'img//products/71372c3c3e5b485836902b098f4dbfb4522ac1bb133332f5242fb97dc84cdf24.webp' %}" height="100%" width="100%"
                alt="logo">
            <div class="itemaftersubmain">
                <div class="itemaftersub">
                    <h6>addidas hoddie</h6>
                    <p>clothing category</p>
                </div>
            </div>
        
        </div>
        <!--end box-->
        
       
    </div>
</div>
<!--end after-->
<!---->
<div class="col-sm-10 productlist">
<!--start producttext-->
<div class="col-sm-12 producttext">
<p>popular items in the market</p>
<h2>trending products</h2>
</div>
<!--end producttext-->
<!--start itembucket-->
<div class="col-sm-12 itembucket">
<div class="row itembucketrow">
    <!--start itemlist-->
    <div class="col-sm-3">
    <div class="col-sm-12 itemlist">
        <div class="imgitem">
<img src="{% static 'img/products/Adidas_Yeezy_Boost_350_V2_Blue_Tint_Grey_Three_High_Resolution_Red_B37571_P2.jpg' %}"
    height="100%" width="100%" alt="logo"/>
    <!--start imgafter-->
    <div class="imgafter">
        <div class="row">
            <!---->
            <div class="col-sm-4">
                <div class="col-sm-3 imgbg">
            <img src="{% static 'img/diamond_48px.png' %}"
                height="50%" width="50%" alt="logo" />
                                  
 </div>
            </div>
            <!---->
            <!---->
            <div class="col-sm-4">
                <div class="col-sm-3 imgbg">
            <img src="{% static 'img/impossible_shapes_48px.png' %}" height="50%" width="50%" alt="logo" />
            
                </div>
            </div>
            <!---->
            <!---->
            <div class="col-sm-4">
                <div class="col-sm-3 imgbg">
            
            <img src="{% static 'img/heart_64px.png' %}" height="50%" width="50%" alt="logo" />
                </div>
            </div>
            <!---->
           
            
        </div>
    </div>
    <!--end imgafter-->
        </div>
        <p>clothing</p>
        <h5>hoodie</h5>
        <p>ghc 150.00</p>
    </div>
    </div>
    <!--end itemlist-->
    

    <!--start itemlist-->
    <div class="col-sm-3">
        <div class="col-sm-12 itemlist">
            <div class="imgitem">
                <img src="{% static 'img/products/best-men-watches-samsung-galaxy-watch-3-review-luxe-digital@2x.jpg' %}"
                    height="100%" width="100%" alt="logo" />
                <!--start imgafter-->
                <div class="imgafter">
                    <div class="row">
                        <!---->
                        <div class="col-sm-4">
                            <div class="col-sm-3 imgbg">
                                <img src="{% static 'img/diamond_48px.png' %}" height="50%" width="50%" alt="logo" />
    
                            </div>
                        </div>
                        <!---->
                        <!---->
                        <div class="col-sm-4">
                            <div class="col-sm-3 imgbg">
                                <img src="{% static 'img/impossible_shapes_48px.png' %}" height="50%" width="50%"
                                    alt="logo" />
    
                            </div>
                        </div>
                        <!---->
                        <!---->
                        <div class="col-sm-4">
                            <div class="col-sm-3 imgbg">
    
                                <img src="{% static 'img/heart_64px.png' %}" height="50%" width="50%" alt="logo" />
                            </div>
                        </div>
                        <!---->
    
    
                    </div>
                </div>
                <!--end imgafter-->
            </div>
            <p>clothing</p>
            <h5>hoodie</h5>
            <p>ghc 150.00</p>
        </div>
    </div>
    <!--end itemlist-->


    <!--start itemlist-->
    <div class="col-sm-3">
        <div class="col-sm-12 itemlist">
            <div class="imgitem">
                <img src="{% static 'img/products/bleu-de-chanel-parfum-spray-3-4fl-oz-packshot-default-107180-8821897232414.jpg' %}"
                    height="100%" width="100%" alt="logo" />
                <!--start imgafter-->
                <div class="imgafter">
                    <div class="row">
                        <!---->
                        <div class="col-sm-4">
                            <div class="col-sm-3 imgbg">
                                <img src="{% static 'img/diamond_48px.png' %}" height="50%" width="50%" alt="logo" />
    
                            </div>
                        </div>
                        <!---->
                        <!---->
                        <div class="col-sm-4">
                            <div class="col-sm-3 imgbg">
                                <img src="{% static 'img/impossible_shapes_48px.png' %}" height="50%" width="50%"
                                    alt="logo" />
    
                            </div>
                        </div>
                        <!---->
                        <!---->
                        <div class="col-sm-4">
                            <div class="col-sm-3 imgbg">
    
                                <img src="{% static 'img/heart_64px.png' %}" height="50%" width="50%" alt="logo" />
                            </div>
                        </div>
                        <!---->
    
    
                    </div>
                </div>
                <!--end imgafter-->
            </div>
            <p>clothing</p>
            <h5>hoodie</h5>
            <p>ghc 150.00</p>
        </div>
    </div>
    <!--end itemlist-->


    <!--start itemlist-->
    <div class="col-sm-3">
        <div class="col-sm-12 itemlist">
            <div class="imgitem">
                <img src="{% static 'img/products/istockphoto-172417586-170667a.jpg' %}"
                    height="100%" width="100%" alt="logo" />
                <!--start imgafter-->
                <div class="imgafter">
                    <div class="row">
                        <!---->
                        <div class="col-sm-4">
                            <div class="col-sm-3 imgbg">
                                <img src="{% static 'img/diamond_48px.png' %}" height="50%" width="50%" alt="logo" />
    
                            </div>
                        </div>
                        <!---->
                        <!---->
                        <div class="col-sm-4">
                            <div class="col-sm-3 imgbg">
                                <img src="{% static 'img/impossible_shapes_48px.png' %}" height="50%" width="50%"
                                    alt="logo" />
    
                            </div>
                        </div>
                        <!---->
                        <!---->
                        <div class="col-sm-4">
                            <div class="col-sm-3 imgbg">
    
                                <img src="{% static 'img/heart_64px.png' %}" height="50%" width="50%" alt="logo" />
                            </div>
                        </div>
                        <!---->
    
    
                    </div>
                </div>
                <!--end imgafter-->
            </div>
            <p>clothing</p>
            <h5>hoodie</h5>
            <p>ghc 150.00</p>
        </div>
    </div>
    <!--end itemlist-->
</div>
</div>
<!--end itembucket-->
</div>
<!--10-->


<!--start discount-->
<div class="col-sm-12 discount ">
    <!--discount sbub-->
    <div class="col-sm-12 discountsub">
            <img src="{% static 'img/products/parallax-bg.png.webp' %}" height="100%" width="100%"
                alt="logo">
<div class="discountlist">
<h1>up to 50% off on all first purchases</h1>
<h3>rush hour</h3>
<p>come get discounts on all first purchases.</p>
<a href="{% url 'mysiteUrls:shopPage' %}" class="explore"> shop now</a>
</div>
<!---->
    </div>
        <!--discount sbub-->
</div>
<!--end discount-->

</div>
</div>
<!--end main-->

{% endblock %}