{% extends 'nav.html' %}
{% load static %}
{% block content %}
        <!--start main-->
<div class="col-sm-12 mainbody">
    <!-- start orderbody -->
<div class="col-sm-10 orderbody">
<div class="orderstop"></div>
<!---->
<!-- start row -->
<div class="col-sm-12 ordersrowhearder">
    <h6>orders</h6>
    <div class="col-sm-3 ordersearch">
        <input type="text" name="ordersearch">
        <img src="{% static 'img/search_48px.png' %}" height="20" alt="logo">
    </div>
</div>
<!-- end row -->
<!-- start ordertop -->
<div class="ordertop">
<!-- start ordersrowbodycontainer -->
<div class="col-sm-12 ordersrowbodycontainer">
    <h6>today</h6>
    <!-- start ordersrowitems -->
   <div class="col-sm-12 ordersrowitems">
    <!-- start ordersdetails -->
    <div class="col-sm-2 orderdetails">
        <div class="col-sm-4 orderdetailsimg">
            <img src="{% static 'img/products/3170e623-ab80-4678-9628-14cb6033ab171650883660619USPoloAssnMenWhiteClarkinSneakers1.webp' %}" height="100%" width="100%"
                alt="logo" />
        </div>
        <div class="col-sm-8 orderdetailstxt">
            <p>product: nike ariforce </p>
            <p>quantity: x2 </p>
            <p>total price: ghc 520.00</p>

        </div>
    </div>
    <!-- end orderdetails -->
    <!-- start ordertime -->
    <div class="ordertime">
        <p>3:30 am</p>
        <a href="{% url 'mysiteUrls:confirmationPage' %}">view details</a>
    </div>
    <!-- end ordertime -->
   </div>
   <!-- end ordersrowitems -->
<!-- start ordersrowitems -->
<div class="col-sm-12 ordersrowitems">
    <!-- start ordersdetails -->
    <div class="col-sm-2 orderdetails">
        <div class="col-sm-4 orderdetailsimg">
            <img src="{% static 'img/products/download.png' %}" height="100%" width="100%"
                alt="logo" />
        </div>
        <div class="col-sm-8 orderdetailstxt">
            <p>product: nike ariforce </p>
            <p>quantity: x2 </p>
            <p>total price: ghc 520.00</p>

        </div>
    </div>
    <!-- end orderdetails -->
    <!-- start ordertime -->
    <div class="ordertime">
        <p>3:30 am</p>
        <a href="">view details</a>
    </div>
    <!-- end ordertime -->
</div>
<!-- end ordersrowitems -->
<!-- start ordersrowitems -->
<div class="col-sm-12 ordersrowitems">
    <!-- start ordersdetails -->
    <div class="col-sm-2 orderdetails">
        <div class="col-sm-4 orderdetailsimg">
            <img src="{% static 'img/products/bath nd body works japanese cherry blossom.webp' %}" height="100%" width="100%"
                alt="logo" />
        </div>
        <div class="col-sm-8 orderdetailstxt">
            <p>product: nike ariforce </p>
            <p>quantity: x2 </p>
            <p>total price: ghc 520.00</p>

        </div>
    </div>
    <!-- end orderdetails -->
    <!-- start ordertime -->
    <div class="ordertime">
        <p>3:30 am</p>
        <a href="">view details</a>
    </div>
    <!-- end ordertime -->
</div>
<!-- end ordersrowitems -->

</div>
<!-- end ordersrowbodycontainer -->

<!-- start ordersrowbodycontainer -->
<div class="col-sm-12 ordersrowbodycontainer">
    <h6>yesterday</h6>
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/png.webp' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/86534fc353b746bdb33cae9000ff9f17_9366.webp' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/whitesneakers-2048px-4180.webp' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->

</div>
<!-- end ordersrowbodycontainer -->

<!-- start ordersrowbodycontainer -->
<div class="col-sm-12 ordersrowbodycontainer">
    <h6>wednesday, 23rd november, 2022</h6>
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/Shirts_0003_Reiss.webp' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/beardo-mafia-perfume-body-spray-100-g_1_display_1606289166_467e7e8a.webp' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/1529944171-axe-fragrance-spray-1529942743.jpg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->

</div>
<!-- end ordersrowbodycontainer -->
<!-- start ordersrowbodycontainer -->
<div class="col-sm-12 ordersrowbodycontainer">
    <h6>saturday, 20th november, 2022</h6>
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/vacheron-1636411138.jpg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/Best-body-sprays.webp' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/ed291e67-4618-49ec-8dda-2c2221a5df41.webp' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->

</div>
<!-- end ordersrowbodycontainer -->
</div>
<!-- end ordetrtop -->


</div>           
<!-- end orderbody -->
<!-- start shop gallary -->
<div class="col-sm-10 shopgallery">
    <!--start producttext-->
    <div class="col-sm-12 producttext">
        <p>popular items in the market</p>
        <h2>trending products</h2>
    </div>
    <!--end producttext-->

    <div class="col-sm-12 gallleryitems">
        <!-- start row -->
        <div class="row">
            <!--start shopitem1-->
            <div class="col-sm-3 gsub">
                <div class="col-sm-12 gallerysubcontainer ">
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/Nike-LeBron-15-University-Red-White-Mens-Basketball-Shoes-680x454.jpeg' %}"
                                height="100%" width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>Nike LeBron</h6>
                            <p>₵ 100.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/1635294044-AL0A5484662-HERO.jpg' %}" height="100%"
                                width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>reebok shoe</h6>
                            <p>₵ 130.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/945-9457426_sneakers-png-photo-nike-shoes-com-2018-new.png' %}"
                                height="100%" width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>nike airforce</h6>
                            <p>₵ 90.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                </div>
            </div>
            <!-- end shopitem1 -->
            <!--start shopitem2-->
            <div class="col-sm-3 gsub">
                <div class="col-sm-12 gallerysubcontainer ">
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/depositphotos_67585779-stock-photo-white-hoodie-design.jpg' %}"
                                height="100%" width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>hoodie white</h6>
                            <p>₵ 130.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/depositphotos_67585177-stock-photo-black-hoodie-design.jpg' %}"
                                height="100%" width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>hoodie black</h6>
                            <p>₵ 130.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/depositphotos_67585861-stock-photo-blue-hoodie-design.jpg' %}"
                                height="100%" width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>hoodie blue</h6>
                            <p>₵ 130.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                </div>
            </div>
            <!-- end shopitem2 -->
            <!--start shopitem3-->
            <div class="col-sm-3 gsub">
                <div class="col-sm-12 gallerysubcontainer ">
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/20531242.jpg' %}" height="100%" width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>classic watch</h6>
                            <p>₵ 130.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/wp2168288.jpg' %}" height="100%" width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>italian watch</h6>
                            <p>₵ 780.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/istockphoto-180844253-170667a.jpg' %}" height="100%"
                                width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>dinner watch</h6>
                            <p>₵ 102.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                </div>
            </div>
            <!-- end shopitem3 -->
            <!--start shopitem4-->
            <div class="col-sm-3 gsub">
                <div class="col-sm-12 gallerysubcontainer ">
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/istockphoto-932170554-612x612.jpg' %}" height="100%"
                                width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>white shirt </h6>
                            <p>₵ 30.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/istockphoto-932170474-612x612.jpg' %}" height="100%"
                                width="100%" alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>black shirt</h6>
                            <p>₵ 10.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                    <!-- start sub -->
                    <div class="row gallerysubrow ">
                        <div class="col-sm-6 gallerysubimg">
                            <img src="{% static 'img/products/maxresdefault.jpg' %}" height="100%" width="100%"
                                alt="logo">
                        </div>
                        <div class="col-sm-6 gallerysub">
                            <h6>shirt</h6>
                            <p>₵ 90.00</p>
                        </div>
                    </div>
                    <!-- end sub -->
                </div>
            </div>
            <!-- end shopitem4 -->
        </div>
        <!-- end row -->
    </div>
</div>

<!-- end shopgallary -->
</div>
<!--end main-->

{% endblock %}