{% extends 'nav.html' %}
{% load static %}
{% block content %}
        <!--start main-->
<div class="col-sm-12 mainbody">
    <!-- start orderbody -->
<div class="col-sm-10 orderbody">
<div class="orderstop"></div>
<!---->
<!-- start row -->
<div class="col-sm-12 ordersrowhearder">
    <h6>orders</h6>
    <div class="col-sm-3 ordersearch">
        <input type="text" name="ordersearch">
        <img src="{% static 'img/search_48px.png' %}" height="20" alt="logo">
    </div>
</div>
<!-- end row -->
<!-- start ordertop -->
<div class="ordertop">
<!-- start ordersrowbodycontainer -->
<div class="col-sm-12 ordersrowbodycontainer">
    <h6>today</h6>
    <!-- start ordersrowitems -->
   <div class="col-sm-12 ordersrowitems">
    <!-- start ordersdetails -->
    <div class="col-sm-2 orderdetails">
        <div class="col-sm-4 orderdetailsimg">
            <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%" width="100%"
                alt="logo" />
        </div>
        <div class="col-sm-8 orderdetailstxt">
            <p>product: nike ariforce </p>
            <p>quantity: x2 </p>
            <p>total price: ghc 520.00</p>

        </div>
    </div>
    <!-- end orderdetails -->
    <!-- start ordertime -->
    <div class="ordertime">
        <p>3:30 am</p>
        <a href="">view details</a>
    </div>
    <!-- end ordertime -->
   </div>
   <!-- end ordersrowitems -->
<!-- start ordersrowitems -->
<div class="col-sm-12 ordersrowitems">
    <!-- start ordersdetails -->
    <div class="col-sm-2 orderdetails">
        <div class="col-sm-4 orderdetailsimg">
            <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%" width="100%"
                alt="logo" />
        </div>
        <div class="col-sm-8 orderdetailstxt">
            <p>product: nike ariforce </p>
            <p>quantity: x2 </p>
            <p>total price: ghc 520.00</p>

        </div>
    </div>
    <!-- end orderdetails -->
    <!-- start ordertime -->
    <div class="ordertime">
        <p>3:30 am</p>
        <a href="">view details</a>
    </div>
    <!-- end ordertime -->
</div>
<!-- end ordersrowitems -->
<!-- start ordersrowitems -->
<div class="col-sm-12 ordersrowitems">
    <!-- start ordersdetails -->
    <div class="col-sm-2 orderdetails">
        <div class="col-sm-4 orderdetailsimg">
            <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%" width="100%"
                alt="logo" />
        </div>
        <div class="col-sm-8 orderdetailstxt">
            <p>product: nike ariforce </p>
            <p>quantity: x2 </p>
            <p>total price: ghc 520.00</p>

        </div>
    </div>
    <!-- end orderdetails -->
    <!-- start ordertime -->
    <div class="ordertime">
        <p>3:30 am</p>
        <a href="">view details</a>
    </div>
    <!-- end ordertime -->
</div>
<!-- end ordersrowitems -->

</div>
<!-- end ordersrowbodycontainer -->

<!-- start ordersrowbodycontainer -->
<div class="col-sm-12 ordersrowbodycontainer">
    <h6>yesterday</h6>
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->

</div>
<!-- end ordersrowbodycontainer -->

<!-- start ordersrowbodycontainer -->
<div class="col-sm-12 ordersrowbodycontainer">
    <h6>wednesday, 23rd november, 2022</h6>
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->

</div>
<!-- end ordersrowbodycontainer -->
<!-- start ordersrowbodycontainer -->
<div class="col-sm-12 ordersrowbodycontainer">
    <h6>saturday, 20th november, 2022</h6>
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->
    <!-- start ordersrowitems -->
    <div class="col-sm-12 ordersrowitems">
        <!-- start ordersdetails -->
        <div class="col-sm-2 orderdetails">
            <div class="col-sm-4 orderdetailsimg">
                <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%"
                    width="100%" alt="logo" />
            </div>
            <div class="col-sm-8 orderdetailstxt">
                <p>product: nike ariforce </p>
                <p>quantity: x2 </p>
                <p>total price: ghc 520.00</p>

            </div>
        </div>
        <!-- end orderdetails -->
        <!-- start ordertime -->
        <div class="ordertime">
            <p>3:30 am</p>
        <a href="">view details</a>
        </div>
        <!-- end ordertime -->
    </div>
    <!-- end ordersrowitems -->

</div>
<!-- end ordersrowbodycontainer -->
</div>
<!-- end ordetrtop -->


</div>           
<!-- end orderbody -->
</div>
<!--end main-->

{% endblock %}