{% extends 'nav.html' %}
{% load static %}
{% block content %}
        <!--start main-->
        <div class="col-sm-12 mainbody">
            <!--start shopcontainer-->
            <div class="shopcontainer">
                <h1>product detail</h1>
                <p>take a closer look at this product</p>
            </div>
<!--end shopcontainer-->
<!-- start product detail -->
<div class="col-sm-10 productdetail">
<!-- start productrow -->
<div class="row productrow">
    <!-- start productimg -->
    <div class="col-sm-6 productimg">
        <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" height="100%" width="100%"
            alt="logo" />
    </div>
    <!-- endproductimg -->
    <!-- start productdetailstxt -->
    <div class="col-sm-6 productdetailtxt">
        <!-- start productdetailtxtsub-->
        <div class="col-sm-10 productdetailtxtsub">
            <h4>nike airforce</h4>
            <h5>ghc 130.00</h5>
<!-- start prodcat -->
<div class="col-sm-6 prodcut">
    <p>category :</p>
    <p>shoes</p>
</div>
<!-- end prodcat -->
<!-- start prodcat -->
<div class="col-sm-6 prodcut">
    <p>availablility :</p>
    <p>in stock</p>
</div>
<!-- end prodcat -->
<!-- start proddescription -->
<div class="proddescription">
    <p>Mill Oil is an innovative oil filled radiator with
         the most modern technology. If you are looking for 
         something that can make your interior look awesome,
          and at the same time give you the pleasant warm 
          feeling during the winter.</p>
</div>
<!-- end proddescription -->
<!-- start productadd -->
<div class="col-sm-6 productadd">
    <p>quantity:</p>
    <input type="text" name="quantity" value="1">
</div>
<!-- end productadd -->
<div class="productadd">
    <button>-</button>
<a href="{% url 'mysiteUrls:cartPage' %}">add to cart</a>
    <button>+</button>

</div>
<!-- end productadd -->

        </div>
        <!-- end productdetailtxtsub -->
    </div>
    <!-- end productdetailstxt -->

</div>
<!-- end productrow -->


<!-- start productdsc -->
<div class="col-sm-12 productdsc">
    <!-- start productdschead -->
    <div class="col-sm-12 productdschead">
<button id = "btndescription" class="btnactive">description</button>
        <button id="btnspecialization">specialization</button>
    </div>
    <!-- end productdschead -->
    <!-- start productdsbody -->
    <div class="col-sm-12 productdsbody">
        <!-- start productsection1 -->
        <div class="col-sm-12 productsection1">
            <p>
                Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of all shapes and sizes
                enjoying themselves .Born between the two world wars, Beryl Cook eventually left Kendrick School in Reading at the age
                of 15, where she went to secretarial school and then into an insurance office. After moving to London and then Hampton,
                she eventually married her next door neighbour from Reading, John Cook. He was an officer in the Merchant Navy and after
                he left the sea in 1956, they bought a pub for a year before John took a job in Southern Rhodesia with a motor company.
                Beryl bought their young son a box of watercolours, and when showing him how to use it, she decided that she herself
                quite enjoyed painting. John subsequently bought her a child’s painting set for her birthday and it was with this that
                she produced her first significant work, a half-length portrait of a dark-skinned lady with a vacant expression and
                large drooping breasts. It was aptly named ‘Hangover’ by Beryl’s husband and
               </p>
                <p>
                It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are seeing more and
                more recipe books and Internet websites that are dedicated to the act of cooking for one. Divorce and the death of
                spouses or grown children leaving for college are all reasons that someone accustomed to cooking for more than one would
                suddenly need to learn how to adjust all the cooking practices utilized before into a streamlined plan of cooking that
                is more efficient for one person creating less
            </p>
        </div>
        <!-- end productsection1 -->
        <!-- start productsection2 -->
        <div class="col-sm-12 productsection2">
            <!-- start productsection2sub -->
           <div class="col-sm-12 productsection2sub">
            <!-- start 6 -->
            <div class="col-sm-6 psub">
<h6>width</h6>
            </div>
            <!-- end 6 -->
            <!-- start 6 -->
            <div class="col-sm-6">
                <h6>128mm</h6>
            </div>
            <!-- end 6 -->
           </div>
           <!-- end productsection2sub -->
        <!-- start productsection2sub -->
        <div class="col-sm-12 productsection2sub">
            <!-- start 6 -->
            <div class="col-sm-6 psub">
                <h6>height</h6>
            </div>
            <!-- end 6 -->
            <!-- start 6 -->
            <div class="col-sm-6">
                <h6>128mm</h6>
            </div>
            <!-- end 6 -->
        </div>
        <!-- end productsection2sub -->
        <!-- start productsection2sub -->
           <div class="col-sm-12 productsection2sub">
            <!-- start 6 -->
            <div class="col-sm-6 psub">
<h6>depth</h6>
            </div>
            <!-- end 6 -->
            <!-- start 6 -->
            <div class="col-sm-6">
                <h6>128mm</h6>
            </div>
            <!-- end 6 -->
           </div>
           <!-- end productsection2sub -->
        <!-- start productsection2sub -->
        <div class="col-sm-12 productsection2sub">
            <!-- start 6 -->
            <div class="col-sm-6 psub">
                <h6>weight</h6>
            </div>
            <!-- end 6 -->
            <!-- start 6 -->
            <div class="col-sm-6">
                <h6>128mm</h6>
            </div>
            <!-- end 6 -->
        </div>
        <!-- end productsection2sub -->
        <!-- start productsection2sub -->
        <div class="col-sm-12 productsection2sub">
            <!-- start 6 -->
            <div class="col-sm-6 psub">
                <h6>quality checking</h6>
            </div>
            <!-- end 6 -->
            <!-- start 6 -->
            <div class="col-sm-6">
                <h6>128mm</h6>
            </div>
            <!-- end 6 -->
        </div>
        <!-- end productsection2sub -->
        <!-- start productsection2sub -->
        <div class="col-sm-12 productsection2sub">
            <!-- start 6 -->
            <div class="col-sm-6 psub">
                <h6>fresh duration</h6>
            </div>
            <!-- end 6 -->
            <!-- start 6 -->
            <div class="col-sm-6">
                <h6>128mm</h6>
            </div>
            <!-- end 6 -->
        </div>
        <!-- end productsection2sub -->
        <!-- start productsection2sub -->
        <div class="col-sm-12 productsection2sub">
            <!-- start 6 -->
            <div class="col-sm-6 psub">
                <h6>each box containes</h6>
            </div>
            <!-- end 6 -->
            <!-- start 6 -->
            <div class="col-sm-6">
                <h6>128mm</h6>
            </div>
            <!-- end 6 -->
        </div>
        <!-- end productsection2sub -->
        </div>
        <!-- end productsection2 -->
    </div>
    <!-- end productdsbody -->



</div>
<!-- end productdsc -->







</div>
<!-- end product detail -->

<!-- start shopgallery -->
<div class="col-sm-10 shopgallery">
    <!--start producttext-->
    <div class="col-sm-12 producttext">
        <p>popular items in the market</p>
        <h2>trending products</h2>
    </div>
    <!--end producttext-->

<div class="col-sm-12 gallleryitems">
    <!-- start row -->
    <div class="row">
    <!--start shopitem1-->
    <div class="col-sm-3 gsub">
<div class="col-sm-12 gallerysubcontainer ">
<!-- start sub -->
<div class="row gallerysubrow ">
<div class="col-sm-6 gallerysubimg">
<img src="{% static 'img/products/Nike-LeBron-15-University-Red-White-Mens-Basketball-Shoes-680x454.jpeg' %}" height="100%" width="100%" alt="logo">
</div>
<div class="col-sm-6 gallerysub">
    <h6>Nike LeBron</h6>
    <p>₵ 100.00</p>
</div>
</div>
<!-- end sub -->
<!-- start sub -->
<div class="row gallerysubrow ">
    <div class="col-sm-6 gallerysubimg">
        <img src="{% static 'img/products/1635294044-AL0A5484662-HERO.jpg' %}" height="100%" width="100%" alt="logo">
    </div>
    <div class="col-sm-6 gallerysub">
    <h6>reebok shoe</h6>
    <p>₵ 130.00</p>
</div>
</div>
<!-- end sub -->
<!-- start sub -->
<div class="row gallerysubrow ">
    <div class="col-sm-6 gallerysubimg">
        <img src="{% static 'img/products/945-9457426_sneakers-png-photo-nike-shoes-com-2018-new.png' %}" height="100%" width="100%" alt="logo">
    </div>
    <div class="col-sm-6 gallerysub">
    <h6>nike airforce</h6>
    <p>₵ 90.00</p>
</div>
</div>
<!-- end sub -->
</div>
</div>
<!-- end shopitem1 -->
<!--start shopitem2-->
<div class="col-sm-3 gsub">
    <div class="col-sm-12 gallerysubcontainer ">
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/depositphotos_67585779-stock-photo-white-hoodie-design.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>hoodie white</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/depositphotos_67585177-stock-photo-black-hoodie-design.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>hoodie black</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/depositphotos_67585861-stock-photo-blue-hoodie-design.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>hoodie blue</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
    </div>
</div>
<!-- end shopitem2 -->
<!--start shopitem3-->
<div class="col-sm-3 gsub">
    <div class="col-sm-12 gallerysubcontainer ">
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/20531242.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>classic watch</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/wp2168288.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>italian watch</h6>
                <p>₵ 780.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/istockphoto-180844253-170667a.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>dinner watch</h6>
                <p>₵ 102.00</p>
            </div>
        </div>
        <!-- end sub -->
    </div>
</div>
<!-- end shopitem3 -->
<!--start shopitem4-->
<div class="col-sm-3 gsub">
    <div class="col-sm-12 gallerysubcontainer ">
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/istockphoto-932170554-612x612.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>white shirt </h6>
                <p>₵ 30.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/istockphoto-932170474-612x612.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>black shirt</h6>
                <p>₵ 10.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/maxresdefault.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>shirt</h6>
                <p>₵ 90.00</p>
            </div>
        </div>
        <!-- end sub -->
    </div>
</div>
<!-- end shopitem4 -->
</div>
<!-- end row -->
</div>
</div>



</div>
<!--end main-->

{% endblock %}