{% extends 'nav.html' %}
{% load static %}
{% block content %}
        <!--start main-->
        <div class="col-sm-12 mainbody">
            <!--start shopcontainer-->
            <div class="shopcontainer">
                <h1>shop category</h1>
                <p>explore your heart out</p>
            </div>
<!--end shopcontainer-->
<!--start shop body-->
<div class ="shopbody">
    <!--start shopcontent-->
<div class="col-sm-10 col-md-10 col-lg-10 shopcontnent">
<div class="row  browserow">
    <!-- start itemlist -->
    <div class="col-sm-3 browsecontainer">
<!--start browse-->
<div class="col-sm-12 browse">
    <div class="col-sm-12 shopitemsub1">
        <h5>browse categories</h5>
    </div>
    <div class="col-sm-12 shopitemsub2">
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="men">
            <p>men</p>
       
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="women">
            <p>women</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="classic">
            <p>classic</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="spots">
            <p>spots</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="footwear">
            <p>footwear</p>
        </div>
        <!--end r-->
    </div>
</div>
<!--end itemleft-->
<!-- end browse-->
<!--start browse-->
<div class="col-sm-12 browse">
    <div class="col-sm-12 shopitemsub1">
        <h5>browse brands</h5>
    </div>
    <div class="col-sm-12 shopitemsub2">
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="men">
            <p>apple</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="women">
            <p>nike</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="classic">
            <p>addidas</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="spots">
            <p>reebok</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="footwear">
            <p>dior</p>
        </div>
        <!--end r-->
    </div>
</div>
<!--end itemleft-->
<!-- end browse-->
    </div>
    
<!-- enditemlist -->


    
    <div class="col-sm-9 stock">
        <!--start search-->
        <div class="col-sm-12 search">
            <!-- start seaerchitem -->
<div class="searchitem">
    <input type="text" name="search" >
<img src="{% static 'img/search_48px.png' %}" height="20" alt="logo">

</div>
<!-- end searchitem -->
        </div>
        <!-- end search -->

<!-- start stockitems -->
<div class="col-sm-12 stockitems">
    <!-- start stocksub -->
    <div class="col-sm-12 stocksub">
        <!-- stockite -->
        
        <div class="col-sm-3 stockite">
            <div class="col-sm-12 stockitesub">
                <div class="col-sm-12 stockitimg">
        <a href="{% url 'mysiteUrls:productDetailPage' %}">   <img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}" alt="logo">
        </a>       
        </div>
        <h5>nike airforce </h5>
        <p>ghc 130.00</p>
        </div>
           
        </div>
        <!-- stockite -->
        <!-- stockite -->
        <div class="col-sm-3 stockite">
            <div class="col-sm-12 stockitesub">
                <div class="col-sm-12 stockitimg">
                    <img src="{% static 'img/products/png.webp' %}"  width="100%"
                        alt="logo">
                </div>
                <h5>nike airforce </h5>
                <p>ghc 130.00</p>
            </div>
        
        </div>
        <!-- stockite -->
        <!-- stockite -->
        <div class="col-sm-3 stockite">
            <div class="col-sm-12 stockitesub">
                <div class="col-sm-12 stockitimg">
                    <img src="{% static 'img/products/bath nd body works japanese cherry blossom.webp' %}" 
                        alt="logo">
                </div>
                <h5>nike airforce </h5>
                <p>ghc 130.00</p>
            </div>
        
        </div>
        <!-- stockite -->
        <!-- stockite -->
        <div class="col-sm-3 stockite">
            <div class="col-sm-12 stockitesub">
                <div class="col-sm-12 stockitimg">
                    <img src="{% static 'img/products/download.png' %}" 
                        alt="logo">
                </div>
                <h5>nike airforce </h5>
                <p>ghc 130.00</p>
            </div>
        
        </div>
        <!-- stockite -->
    </div>
    <!-- end stocksub -->

<!-- start stocksub -->
<div class="col-sm-12 stocksub">
    <!-- stockite -->
    <div class="col-sm-3 stockite">
        <div class="col-sm-12 stockitesub">
            <div class="col-sm-12 stockitimg">
                <img src="{% static 'img/products/71D9ImsvEtL._UY500_.jpg' %}"  alt="logo">
            </div>
            <h5>nike airforce </h5>
            <p>ghc 130.00</p>
        </div>

    </div>
    <!-- stockite -->
    <!-- stockite -->
    <div class="col-sm-3 stockite">
        <div class="col-sm-12 stockitesub">
            <div class="col-sm-12 stockitimg">
                <img src="{% static 'img/products/Flint-and-Tinder-bone-button-Western-shirt.webp' %}"  alt="logo">
            </div>
            <h5>nike airforce </h5>
            <p>ghc 130.00</p>
        </div>

    </div>
    <!-- stockite -->
    <!-- stockite -->
    <div class="col-sm-3 stockite">
        <div class="col-sm-12 stockitesub">
            <div class="col-sm-12 stockitimg">
                <img src="{% static 'img/products/_13042022_Shirts_03.webp' %}" alt="logo">
            </div>
            <h5>nike airforce </h5>
            <p>ghc 130.00</p>
        </div>

    </div>
    <!-- stockite -->
    <!-- stockite -->
    <div class="col-sm-3 stockite">
        <div class="col-sm-12 stockitesub">
            <div class="col-sm-12 stockitimg">
                <img src="{% static 'img/products/86534fc353b746bdb33cae9000ff9f17_9366.webp' %}"  alt="logo">
            </div>
            <h5>nike airforce </h5>
            <p>ghc 130.00</p>
        </div>

    </div>
    <!-- stockite -->
</div>
<!-- end stocksub -->




</div>
<!-- start stockitems -->


    </div>
<!--end itemright-->
</div>
</div>
<!--end shopcontent-->
</div>
<!--end shop body-->


<div class="col-sm-10 shopgallery">
    <!--start producttext-->
    <div class="col-sm-12 producttext">
        <p>popular items in the market</p>
        <h2>trending products</h2>
    </div>
    <!--end producttext-->

<div class="col-sm-12 gallleryitems">
    <!-- start row -->
    <div class="row">
    <!--start shopitem1-->
    <div class="col-sm-3 gsub">
<div class="col-sm-12 gallerysubcontainer ">
<!-- start sub -->
<div class="row gallerysubrow ">
<div class="col-sm-6 gallerysubimg">
<img src="{% static 'img/products/Nike-LeBron-15-University-Red-White-Mens-Basketball-Shoes-680x454.jpeg' %}" height="100%" width="100%" alt="logo">
</div>
<div class="col-sm-6 gallerysub">
    <h6>Nike LeBron</h6>
    <p>₵ 100.00</p>
</div>
</div>
<!-- end sub -->
<!-- start sub -->
<div class="row gallerysubrow ">
    <div class="col-sm-6 gallerysubimg">
        <img src="{% static 'img/products/1635294044-AL0A5484662-HERO.jpg' %}" height="100%" width="100%" alt="logo">
    </div>
    <div class="col-sm-6 gallerysub">
    <h6>reebok shoe</h6>
    <p>₵ 130.00</p>
</div>
</div>
<!-- end sub -->
<!-- start sub -->
<div class="row gallerysubrow ">
    <div class="col-sm-6 gallerysubimg">
        <img src="{% static 'img/products/945-9457426_sneakers-png-photo-nike-shoes-com-2018-new.png' %}" height="100%" width="100%" alt="logo">
    </div>
    <div class="col-sm-6 gallerysub">
    <h6>nike airforce</h6>
    <p>₵ 90.00</p>
</div>
</div>
<!-- end sub -->
</div>
</div>
<!-- end shopitem1 -->
<!--start shopitem2-->
<div class="col-sm-3 gsub">
    <div class="col-sm-12 gallerysubcontainer ">
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/depositphotos_67585779-stock-photo-white-hoodie-design.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>hoodie white</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/depositphotos_67585177-stock-photo-black-hoodie-design.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>hoodie black</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/depositphotos_67585861-stock-photo-blue-hoodie-design.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>hoodie blue</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
    </div>
</div>
<!-- end shopitem2 -->
<!--start shopitem3-->
<div class="col-sm-3 gsub">
    <div class="col-sm-12 gallerysubcontainer ">
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/20531242.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>classic watch</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/wp2168288.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>italian watch</h6>
                <p>₵ 780.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/istockphoto-180844253-170667a.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>dinner watch</h6>
                <p>₵ 102.00</p>
            </div>
        </div>
        <!-- end sub -->
    </div>
</div>
<!-- end shopitem3 -->
<!--start shopitem4-->
<div class="col-sm-3 gsub">
    <div class="col-sm-12 gallerysubcontainer ">
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/istockphoto-932170554-612x612.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>white shirt </h6>
                <p>₵ 30.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/istockphoto-932170474-612x612.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>black shirt</h6>
                <p>₵ 10.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/maxresdefault.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>shirt</h6>
                <p>₵ 90.00</p>
            </div>
        </div>
        <!-- end sub -->
    </div>
</div>
<!-- end shopitem4 -->
</div>
<!-- end row -->
</div>
</div>



</div>
<!--end main-->

{% endblock %}