{% extends 'nav.html' %}
{% load static %}
{% block content %}
        <!--start main-->
        <div class="col-sm-12 mainbody">
            <!--start shopcontainer-->
            <div class="shopcontainer">
                <h1>shop category</h1>
                <p>explore your heart out</p>
            </div>
<!--end shopcontainer-->
<!--start shop body-->
<div class ="shopbody">
    <!--start shopcontent-->
<div class="col-sm-10 col-md-10 col-lg-10 shopcontnent">
<div class="row">
    <!-- start itemlist -->
    <div class="col-sm-3">
<!--start browse-->
<div class="col-sm-12 browse">
    <div class="col-sm-12 shopitemsub1">
        <h5>browse categories</h5>
    </div>
    <div class="col-sm-12 shopitemsub2">
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="men">
            <p>men</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="women">
            <p>women</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="classic">
            <p>classic</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="spots">
            <p>spots</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="footwear">
            <p>footwear</p>
        </div>
        <!--end r-->
    </div>
</div>
<!--end itemleft-->
<!-- end browse-->
<!--start browse-->
<div class="col-sm-12 browse">
    <div class="col-sm-12 shopitemsub1">
        <h5>browse brands</h5>
    </div>
    <div class="col-sm-12 shopitemsub2">
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="men">
            <p>apple</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="women">
            <p>nike</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="classic">
            <p>addidas</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="spots">
            <p>reebok</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="footwear">
            <p>dior</p>
        </div>
        <!--end r-->
    </div>
</div>
<!--end itemleft-->
<!-- end browse-->
    </div>
    
<!-- enditemlist -->


    
    <div class="col-sm-9">
        <!--start search-->
        <div class="col-sm-12 search">
            <!-- start seaerchitem -->
<div class=" searchitem">
   
    <input type="text" name="search" id="mylogin">
<img src="{% static 'img/search_48px.png' %}" height="20" alt="logo">

</div>
<!-- end searchitem -->
        </div>
        <!-- end search -->

<!-- start searchresult -->
<div class="searchresult">
<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    
    <!-- Inner -->
    <div class="carousel-inner py-4 ">
        <!-- Single item -->
        <div class="carousel-item active ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp" class="card-img-top"
                                alt="Waterfall" />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top"
                                alt="Sunset Over the Sea" />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/183.webp" class="card-img-top"
                                alt="Sunset over the Sea" />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top"
                                alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top"
                                alt="Storm Clouds" />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/186.webp" class="card-img-top"
                                alt="Hot Air Balloons" />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/187.webp" class="card-img-top"
                                alt="Peaks Against the Starry Sky" />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/188.webp" class="card-img-top"
                                alt="Bridge Over Water" />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                        <div class="card">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/189.webp" class="card-img-top"
                                alt="Purbeck Heritage Coast" />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner -->
    <!-- Controls -->
    <div class="d-flex justify-content-center mb-4">
        <button class="carousel-control-prev position-relative" type="button" data-mdb-target="#carouselMultiItemExample"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next position-relative" type="button" data-mdb-target="#carouselMultiItemExample"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
    <!-- controls -->
</div>
<!-- Carousel wrapper -->
</div>
<!-- end searchresult -->






    </div>
    <!--end itemright-->
</div>
</div>
<!--end shopcontent-->
</div>
<!--end shop body-->

</div>
<!--end main-->

{% endblock %}