{% extends 'nav.html' %}
{% load static %}
{% block content %}
        <!--start main-->
        <div class="col-sm-12 mainbody">
            <!--start shopcontainer-->
            <div class="shopcontainer">
                <h1>shop category</h1>
                <p>explore your heart out</p>
            </div>
<!--end shopcontainer-->
<!--start shop body-->
<div class ="shopbody">
    <!--start shopcontent-->
<div class="col-sm-10 col-md-10 col-lg-10 shopcontnent">
<div class="row">
    <!-- start itemlist -->
    <div class="col-sm-3">
<!--start browse-->
<div class="col-sm-12 browse">
    <div class="col-sm-12 shopitemsub1">
        <h5>browse categories</h5>
    </div>
    <div class="col-sm-12 shopitemsub2">
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="men">
            <p>men</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="women">
            <p>women</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="classic">
            <p>classic</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="spots">
            <p>spots</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="footwear">
            <p>footwear</p>
        </div>
        <!--end r-->
    </div>
</div>
<!--end itemleft-->
<!-- end browse-->
<!--start browse-->
<div class="col-sm-12 browse">
    <div class="col-sm-12 shopitemsub1">
        <h5>browse brands</h5>
    </div>
    <div class="col-sm-12 shopitemsub2">
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="men">
            <p>apple</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="women">
            <p>nike</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="classic">
            <p>addidas</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="spots">
            <p>reebok</p>
        </div>
        <!--end r-->
        <!--start r -->
        <div class="row remove">
            <input type="radio" name="men" value="footwear">
            <p>dior</p>
        </div>
        <!--end r-->
    </div>
</div>
<!--end itemleft-->
<!-- end browse-->
    </div>
    
<!-- enditemlist -->


    
    <div class="col-sm-9">
        <!--start search-->
        <div class="col-sm-12 search">
            <!-- start seaerchitem -->
<div class="searchitem">
   
    <input type="text" name="search" id="mylogin">
<img src="{% static 'img/search_48px.png' %}" height="20" alt="logo">

</div>
<!-- end searchitem -->
        </div>
        <!-- end search -->

<!-- start searchresult -->
<div class="searchresult">
<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center " data-mdb-ride="carousel">
    
    <!-- Inner -->
    <div class="carousel-inner py-4 ">
        <!-- Single item -->
        <div class="carousel-item active ">
            <div class="container ">
                <div class="row ">
                    
                    <div class="col-lg-4" >
                        <a href="{% url 'mysiteUrls:productDetailPage' %}">
                        <div class="card">
<img src="{% static 'img/products/photo-1606107557195-0e29a4b5b4aa (1).jpeg' %}"
    height="100%" width="100%" alt="logo" />
                            <div class="card-body">
                                <div class="card-item">
                                <h5>nike airforce</h5>
                                <p>ghc 130.00</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    

                    <div class="col-lg-4 d-none d-lg-block">
                        <a href="#">
                        <div class="card">
                            <img src="{% static 'img/products/istockphoto-1320786676-170667a.jpg' %}" height="100%"
                                width="100%" alt="logo" />
                           <div class="card-body">
                                <div class="card-item">
                                <h5>nike airforce</h5>
                                <p>ghc 130.00</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <a href="#">
                        <div class="card">
                            <img src="{% static 'img/products/photo-1607522370275-f14206abe5d3.jpeg' %}"
                                height="100%" width="100%" alt="logo" />
                           <div class="card-body">
                                <div class="card-item">
                                <h5>nike airforce</h5>
                                <p>ghc 130.00</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                    
                        <div class="card">
                            <img src="{% static 'img/products/pexels-pixabay-277390.jpg' %}" height="100%" width="100%" alt="logo" />
                           <div class="card-body">
                                <div class="card-item">
                                <h5>nike airforce</h5>
                                <p>ghc 130.00</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="{% static 'img/products/Omega-watch-high-quality_m.jpg' %}"
                                height="100%" width="100%" alt="logo" />
                           <div class="card-body">
                                <div class="card-item">
                                <h5>nike airforce</h5>
                                <p>ghc 130.00</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                        <img src="{% static 'img/products/71S8CqFiKLL._SY355_.jpg' %}"
                            height="100%" width="100%" alt="logo" />
                           <div class="card-body">
                                <div class="card-item">
                                <h5>nike airforce</h5>
                                <p>ghc 130.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <div class="card">
                            <img src="{% static 'img/products/bleu-de-chanel-parfum-spray-3-4fl-oz-packshot-default-107180-8821897232414.jpg' %}"
                                height="100%" width="100%" alt="logo" />
                           <div class="card-body">
                                <div class="card-item">
                                <h5>nike airforce</h5>
                                <p>ghc 130.00</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                        <div class="card">
                            <img src="{% static 'img//products/299-2994689_nike-sb-pique-polo-high-resolution-black-t.png' %}" height="100%"
                                width="100%" alt="logo">
                           <div class="card-body">
                                <div class="card-item">
                                <h5>nike airforce</h5>
                                <p>ghc 130.00</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                        <div class="card">
                            <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                           <div class="card-body">
                                <div class="card-item">
                                <h5>nike airforce</h5>
                                <p>ghc 130.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Inner -->
    <!-- Controls -->
    <div class="d-flex justify-content-center mb-4">
        <button class="carousel-control-prev position-relative" type="button" data-mdb-target="#carouselMultiItemExample"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next position-relative" type="button" data-mdb-target="#carouselMultiItemExample"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
    <!-- controls -->
</div>
<!-- Carousel wrapper -->






</div>
<!-- end searchresult -->
</div>
<!--end itemright-->
</div>
</div>
<!--end shopcontent-->
</div>
<!--end shop body-->

<!-- start shoplist -->
<div class="col-sm-12 myshoplist">
    <!-- start shoplistitems -->
    <div class="col-sm-11 shoplistitems ">
        <div class="row">
            <!-- start margin -->
            <div class="col-sm-3">
                <!-- start itms -->
                <div class="col-sm-12 itms ">
                    <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                    <!-- start itsmabsolute -->
                    <div class="itsmabsolute">
                        <div class="itsmabsolutesub">
                            <h5>nike airforce </h5>
                            <p>ghc 130.00</p>
                        </div>
                    </div>
                    <!-- end itsmabsolute -->
                </div>
                <!-- end itms -->
            </div>
            <!-- end margin -->
        <!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin --><!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin --><!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin --><!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin --><!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin --><!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin --><!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin --><!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin --><!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin --><!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin --><!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin -->
        <!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin -->
        <!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin -->
        <!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin -->
        <!-- start margin -->
        <div class="col-sm-3">
            <!-- start itms -->
            <div class="col-sm-12 itms ">
                <img src="{% static 'img/products/10741489.jpg' %}" height="100%" width="100%" alt="logo">
                <!-- start itsmabsolute -->
                <div class="itsmabsolute">
                    <div class="itsmabsolutesub">
                        <h5>nike airforce </h5>
                        <p>ghc 130.00</p>
                    </div>
                </div>
                <!-- end itsmabsolute -->
            </div>
            <!-- end itms -->
        </div>
        <!-- end margin -->
            
        </div>
      
    </div>
    <!-- end shoplistitems -->
</div>
<!-- end shoplist -->

<div class="col-sm-10 shopgallery">
    <!--start producttext-->
    <div class="col-sm-12 producttext">
        <p>popular items in the market</p>
        <h2>trending products</h2>
    </div>
    <!--end producttext-->

<div class="col-sm-12 gallleryitems">
    <!-- start row -->
    <div class="row">
    <!--start shopitem1-->
    <div class="col-sm-3 gsub">
<div class="col-sm-12 gallerysubcontainer ">
<!-- start sub -->
<div class="row gallerysubrow ">
<div class="col-sm-6 gallerysubimg">
<img src="{% static 'img/products/Nike-LeBron-15-University-Red-White-Mens-Basketball-Shoes-680x454.jpeg' %}" height="100%" width="100%" alt="logo">
</div>
<div class="col-sm-6 gallerysub">
    <h6>Nike LeBron</h6>
    <p>₵ 100.00</p>
</div>
</div>
<!-- end sub -->
<!-- start sub -->
<div class="row gallerysubrow ">
    <div class="col-sm-6 gallerysubimg">
        <img src="{% static 'img/products/1635294044-AL0A5484662-HERO.jpg' %}" height="100%" width="100%" alt="logo">
    </div>
    <div class="col-sm-6 gallerysub">
    <h6>reebok shoe</h6>
    <p>₵ 130.00</p>
</div>
</div>
<!-- end sub -->
<!-- start sub -->
<div class="row gallerysubrow ">
    <div class="col-sm-6 gallerysubimg">
        <img src="{% static 'img/products/945-9457426_sneakers-png-photo-nike-shoes-com-2018-new.png' %}" height="100%" width="100%" alt="logo">
    </div>
    <div class="col-sm-6 gallerysub">
    <h6>nike airforce</h6>
    <p>₵ 90.00</p>
</div>
</div>
<!-- end sub -->
</div>
</div>
<!-- end shopitem1 -->
<!--start shopitem2-->
<div class="col-sm-3 gsub">
    <div class="col-sm-12 gallerysubcontainer ">
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/depositphotos_67585779-stock-photo-white-hoodie-design.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>hoodie white</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/depositphotos_67585177-stock-photo-black-hoodie-design.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>hoodie black</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/depositphotos_67585861-stock-photo-blue-hoodie-design.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>hoodie blue</h6>
                <p>₵ 130.00</p>
            </div>
        </div>
        <!-- end sub -->
    </div>
</div>
<!-- end shopitem2 -->
<!--start shopitem3-->
<div class="col-sm-3 gsub">
    <div class="col-sm-12 gallerysubcontainer ">
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/20531242.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>classic watch</h6>
                <p>₵ 1300.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/wp2168288.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>italian watch</h6>
                <p>₵ 780.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/istockphoto-180844253-170667a.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>dinner watch</h6>
                <p>₵ 1020.00</p>
            </div>
        </div>
        <!-- end sub -->
    </div>
</div>
<!-- end shopitem3 -->
<!--start shopitem4-->
<div class="col-sm-3 gsub">
    <div class="col-sm-12 gallerysubcontainer ">
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/istockphoto-932170554-612x612.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>white shirt </h6>
                <p>₵ 30.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/istockphoto-932170474-612x612.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>black shirt</h6>
                <p>₵ 10.00</p>
            </div>
        </div>
        <!-- end sub -->
        <!-- start sub -->
        <div class="row gallerysubrow ">
            <div class="col-sm-6 gallerysubimg">
                <img src="{% static 'img/products/maxresdefault.jpg' %}" height="100%" width="100%" alt="logo">
            </div>
            <div class="col-sm-6 gallerysub">
                <h6>shirt</h6>
                <p>₵ 90.00</p>
            </div>
        </div>
        <!-- end sub -->
    </div>
</div>
<!-- end shopitem4 -->
</div>
<!-- end row -->
</div>
</div>



</div>
<!--end main-->

{% endblock %}