{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
                            <!-- Main-body start -->
                            <div class="main-body">
                                <!-- start product-container -->
                               <div class="product-container col-sm-10">
                                <!-- start product-wrapper -->
                                <div class="product-wrapper col-sm-12">
                                    <div class="row">
                                        <!-- start product-head -->
                                        <div class="product-head col-sm-12">
                                            <h1>add new product</h1>
                                           
                                            <button>save</button>
                    
                                        </div>
                                        <!-- end product-head -->

                                        <!-- start product-body -->
                                        <div class="product-body col-sm-12">
                                        <!-- start product-basic -->
                                        <div class="product-basic col-sm-7">
                                            <!-- start product-title -->
                                            <div class="product-title col-sm-12">
                                                <h5>basic</h5>
                                            </div>
                                            <!-- end product-title -->
                                            <!-- start product-basic-content -->
                                            <div class="product-basic-content col-sm-12">
                                                <label for="">product name</label>
                                                <input type="text"  class = "myformcontrol" name="product name" id="product-name" placeholder="Product name">

                                            </div>
                                            <!-- end product-basic-content -->

                                        <!-- start product-basic-content -->
                                        <div class="product-basic-content col-sm-12">
                                            <label for="">product description</label>
                                            <textarea name="" id="" cols="30" rows="10" class = "myformcontrol"></textarea>

                                        </div>
                                        <!-- start product-basic-content -->
                                        <div class="product-basic-content col-sm-12">
                                            <label for="">product price</label>
                                            <div class="product-price col-sm-12">
                                                <input type="text" class="myformcontrol col-sm-4 " name="product price" id="product-price" placeholder="Product price">
                                                <select name="currency" id="" class="myformcontrol col-sm-4" >
                                                    <option value="" disabled selected hidden>CUR</option>
                                                    <option value="ghc">GHC</option>
                                                    <option value="usd">USD</option>

                                                </select>
                                            </div>
                                        
                                        </div>
                                        <!-- end product-basic-content -->
                                        </div>
                                        <!-- end product-basic -->
                                        <!-- start product-left -->
                                            <div class="product-left col-sm-4">
                                        <!-- start product-media -->
                                                <div class="product-media col-sm-12">
                                                <!-- start product-title -->
                                                <div class="product-title col-sm-12">
                                                    <h5>media</h5>
                                                </div>
                                                <!-- end product-title -->
                                                <!-- end product-img -->
                                                <div class="product-img col-sm-12">
                                    <img src="{% static 'img/upload.svg' %}" alt="upload_pic">
                                                </div>
                                                <!-- end product-img -->

                                                <!-- start product-basic-content -->
                                                <div class="product-basic-content col-sm-12">
                                                    <input type="file" class="myformcontrol" name="product img" id="product-img" >
                                                
                                                </div>
                                                <!-- end product-basic-content -->
                                                </div>
                                        <!-- start product-media -->
                                        <!-- start product-organization -->
                                        <div class="product-organization col-sm-12">
                                        <!-- start product-title -->
                                        <div class="product-title col-sm-12">
                                            <h5>organization</h5>
                                        </div>
                                        <!-- end product-title -->
                                        <!-- start product-basic-content -->
                                        <div class="product-basic-content col-sm-12">
                                            <label for="">category</label>
                                            <div class="product-price col-sm-12">
                                                <select name="currency" id="" class="myformcontrol">
                                                    <option value="" disabled selected hidden>CATEGORY</option>
                                                    <option value="shoes">Shoes</option>
                                                    <option value="Clothes">Clothes</option>
                                                    <option value="Hats">Hats</option>
                                                    <option value="Watches">Watches</option>
                                                    <option value="Spray">Spray</option>
                                        
                                                </select>
                                            </div>
                                        
                                        </div>
                                        <!-- end product-basic-content -->
                                        <!-- start product-basic-content -->
                                        <div class="product-basic-content col-sm-12">
                                            <label for="">availablility</label>
                                            <div class="product-price col-sm-12">
                                                <select name="currency" id="" class="myformcontrol">
                                                    <option value="" disabled selected hidden>AVAILABLILITY</option>
                                                    <option value="Instock">Instock</option>
                                                    <option value="out of stock">Out of stock</option>
                                                </select>
                                            </div>
                                        
                                        </div>
                                        <!-- end product-basic-content -->
                                        </div>
                                        <!-- end product-organization -->
                                            </div>
                                        <!-- end product-left -->

                                        </div>
                                        <!-- end product-body -->

                                    </div>
                                    <!-- start product-specification -->
                                    <div class="product-specification col-sm-7">
                                        <!-- start product-title -->
                                        <div class="product-title col-sm-12">
                                            <h5>specification</h5>
                                        </div>
                                        <!-- end product-title -->
                                        <!-- start product-basic-content -->
                                        <div class="product-basic-content col-sm-12">
                                            <label for="">width</label>
                                            <input type="text" class="myformcontrol" name="product width" id="product-width" placeholder="Product width">
                                        
                                        </div>
                                        <!-- end product-basic-content -->
                                        <!-- start product-basic-content -->
                                        <div class="product-basic-content col-sm-12">
                                            <label for="">product height</label>
                                            <input type="text" class="myformcontrol" name="product height" id="product-height" placeholder="Product height">
                                        
                                        </div>
                                        <!-- end product-basic-content -->
                                        <!-- start product-basic-content -->
                                        <div class="product-basic-content col-sm-12">
                                            <label for="">product Depth</label>
                                            <input type="text" class="myformcontrol" name="product Depth" id="product-Depth" placeholder="Product Depth">
                                        
                                        </div>
                                        <!-- end product-basic-content -->
                                <!-- start product-basic-content -->
                                <div class="product-basic-content col-sm-12">
                                    <label for="">product Weight</label>
                                    <input type="text" class="myformcontrol" name="product Weight" id="product-Weight" placeholder="Product Weight">

                                </div>
                                <!-- end product-basic-content -->
                                    <!-- start product-basic-content -->
                                    <div class="product-basic-content col-sm-12">
                                        <label for="">product  Quality Checking</label>
                                        <input type="text" class="myformcontrol" name="product  Quality Checking" id="product- Quality Checking" placeholder="Product  Quality Checking">
                                    
                                    </div>
                                    <!-- end product-basic-content -->
                                        
                                    <!-- start product-basic-content -->
                                    <div class="product-basic-content col-sm-12">
                                        <label for="">product Fresh Duration</label>
                                        <input type="text" class="myformcontrol" name="product  Fresh Duration" id="product- Fresh Duration"
                                            placeholder="Product  Fresh Duration">
                                    
                                    </div>
                                    <!-- end product-basic-content -->
                                    <!-- start product-basic-content -->
                                    <div class="product-basic-content col-sm-12">
                                        <label for="">product Each Box Containes</label>
                                        <input type="text" class="myformcontrol" name="product  Each Box Containes" id="product- Each Box Containes"
                                            placeholder="Product  Each Box Containes">
                                    
                                    </div>
                                    <!-- end product-basic-content -->
                                       
                                      
                                        
                                      
                                        
                                    </div>
                                    <!-- end product-specification -->
                                </div>
                                <!-- end product-wrapper -->

                               </div>
                                <!-- end product-container -->

                                    </div>
                                    <!-- Page-body end -->
                                {% endblock %}