{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
                            <!-- Main-body start -->
                            <div class="main-body">
                                <!-- start product-container -->
                               <div class="product-container col-sm-12">
                                <!-- start product-wrapper -->
                                <div class="product-wrapper col-sm-12">
                                    <div class="row">
                                        <!-- start product-head -->
                                        <div class="product-head col-sm-12">
                                            <h1>orders list</h1>
                                           
                                           <a href="{% url 'dashboardUrls:addProductPage' %}" > <button> create new product</button></a> 
                    
                                        </div>
                                        <!-- end product-head -->

                                        <!-- start product-body -->
                                        <div class="product-body col-sm-12">
                                        <!-- start product-basic -->
                                        <div class="product-basic2 col-sm-12">
                                           
                                                                                
                                    <!-- start plist -->
                                    <div class="plist col-sm-11">
                                        <div class="row prow col-sm-12">
                                        <!-- start psearch -->
                                        <div class="psearch">
                                            <input type = "text" placeholder="Search" name ="search">
                                    <img class="" src="{% static 'img/search_24px.png'%}" alt="search" width="10%" >
     
                                        </div>
                                        <!-- end psearch -->
                                        <!-- start pcat -->
                                        <div class="pcat">
                                           <select name="cat" id="cat">
                                            <option value="" disabled selected hidden>status</option>
                                            <option value=""> approved</option>
                                            <option value="">pending</option>
                                            <option value="">cancelled</option>
                                           


                                           </select>
                                           
                                        
                                        </div>
                                        <!-- end pcart -->

                               </div>
                                    </div>
                                    <!-- end plist -->

<!-- start orderlist -->
<div class="orderlist col-sm-12">
    <!-- start orderlisthead -->
    <div class="orderlisthead col-sm-12">
<!-- start orderid -->
<div class="orderid col-sm-1">
    <h6>#ID</h6>
</div>
<!-- end orderid -->
<!-- start orderid -->
<div class="orderid col-sm-2">
    <h6>name</h6>
</div>
<!-- end orderid -->
<!-- start orderid -->
<div class="orderid col-sm-3">
    <h6>email</h6>
</div>
<!-- end orderid -->
<!-- start orderid -->
<div class="orderid col-sm-1">
    <h6>total</h6>
</div>
<!-- end orderid -->
<!-- start orderid -->
<div class="orderid col-sm-2">
    <h6>status</h6>
</div>
<!-- end orderid -->
<!-- start orderid -->
<div class="orderid col-sm-2">
    <h6>date</h6>
</div>
<!-- end orderid -->
<!-- start orderid -->
<div class="orderid col-sm-1">
    <h6>action</h6>
</div>
<!-- end orderid -->
    </div>
    <!-- end orderlisthead -->


<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->




<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->

<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->


<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->


<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->


<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->


<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->



<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->


<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->



<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->



<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->



<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->



<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->



<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->



<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->



<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->



<!-- start orderlistbody -->
<div class="orderlistbody col-sm-12">
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>0921</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>Marvin McKinney</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-3">
        <span style="text-transform:none;">marvin@example.com</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <span>ghc 120.00</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>pending</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-2">
        <span>03/04/2022</span>
    </div>
    <!-- end orderid -->
    <!-- start orderid -->
    <div class="orderid col-sm-1">
        <a href="{% url 'dashboardUrls:orderDetailsPage' %}">detail</a>
    </div>
    <!-- end orderid -->
</div>
<!-- end orderlistbody -->































</div>
<!-- end orderlist -->


                                       
                                        </div>
                                        <!-- end product-basic2 -->
                                        
                                        </div>
                                        <!-- end product-body -->

                                    </div>
                                    <!-- start leftright -->
                                    <div class="leftright col-sm-2">
                                        <a href=""><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                        <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                    </div>
                                    <!-- end leftright -->
                                </div>
                                <!-- end product-wrapper -->

                               </div>
                                <!-- end product-container -->

                                    </div>
                                    <!-- Page-body end -->
                                {% endblock %}