{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
                            <!-- Main-body start -->
                            <div class="main-body">
                                <!-- start product-container -->
                               <div class="product-container col-sm-12">
                                <!-- start product-wrapper -->
                                <div class="product-wrapper col-sm-12">
                                    <div class="row">
                                        <!-- start product-head -->
                                        <div class="product-head col-sm-12">
                                            <h1>order detail</h1>
                                           
                                           <a href="{% url 'dashboardUrls:addProductPage' %}" > <button> create new product</button></a> 
                    
                                        </div>
                                        <!-- end product-head -->

                                        <!-- start product-body -->
                                        <div class="product-body col-sm-12">
                                        <!-- start product-basic -->
                                        <div class="product-basic2 col-sm-12">
                                           
                                                                                
                                    <!-- start plist -->
                                    <div class="plist col-sm-11 ">
                                        <div class="row prow col-sm-12">
                                        <!-- start psearch -->
                                        <div class="odate col-sm-6 ">
                                          <div class="ordate col-sm-12 ">
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
<span>Wed, Aug 13, 2022, 4:34PM</span>
                                          </div>
                                          <span>order ID: 234251</span>
                                        </div>
                                        <!-- end psearch -->
                                        <!-- start pcat -->
                                        <div class="dsave">
                                        <a href="">save</a>
                                        </div>
                                        <!-- end pcart -->

                               </div>
                                    </div>
                                    <!-- end plist -->
<!-- start ordmid -->
<div class="ordmid col-sm-11">
<!--start ordmidbox -->
<div class="ordmidbox col-sm-3">
<span ><i class="fa fa-user" aria-hidden="true"></i></span>
<!-- start div -->
<div>
<h5>customer</h5>
<p>John Alexander</p>
<p>alex@gmail..com</p>
<p>+233 501 3475</p>
</div>
<!-- end div -->
</div>
<!--end ordmidbox -->

<!--start ordmidbox -->
<div class="ordmidbox col-sm-3">
    <span><i class="fa fa-truck" aria-hidden="true"></i></span>
    <!-- start div -->
    <div>
        <h5>Order info</h5>
        <p>Delivery: Fargo </p>
        <p>Pay method: momo</p>
        <p>Status: new</p>
    </div>
    <!-- end div -->
</div>
<!--end ordmidbox -->

<!--start ordmidbox -->
<div class="ordmidbox col-sm-3">
    <span><i class="fa  fa-map-marker" aria-hidden="true"></i></span>
    <!-- start div -->
    <div>
        <h5>Deliver to</h5>
        <p>City:Accra</p>
        <p>North,Legon</p>
        <p>Po Box 10000</p>
    </div>
    <!-- end div -->
</div>
<!--end ordmidbox -->

</div>
<!-- end ordmid -->



<!-- start ordend -->
<div class="ordend col-sm-11">
    <!-- start tabel -->
    <div class="table-responsive col-sm-7">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>product</th>
                    <th>unit price</th>
                    <th>quantity</th>
                    <th>total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
        <th class="col-sm-4"><img src="{% static 'img/products/26-1.jpg'%}" alt="search" width="30%"/> nike hoodie</th>
                    <th>ghc 130.00</th>
                    <th>3</th>
                    <th>ghc 1000.00</th>
                </tr>
                <tr>
                    <th class="col-sm-4"><img src="{% static 'img/products/31-1.png'%}" alt="search" width="30%" /> nike hoodie</th>
                    <th>ghc 345.00</th>
                    <th>2</th>
                    <th>ghc 589.00</th>
                </tr>
                <tr>
                    <th class="col-sm-4"><img src="{% static 'img/products/41nMS2PLcZL._AC_.jpg'%}" alt="search" width="30%" /> nike shoe</th>
                    <th>ghc 98.00</th>
                    <th>1</th>
                    <th>ghc 98.00</th>
                </tr>
                <tr>
                    <th class="col-sm-4"><img src="{% static 'img/products/61bdCk+8RlL._AC_UX625_.jpg'%}" alt="search" width="30%" /> nike shoe</th>
                    <th>ghc 78.00</th>
                    <th>2</th>
                    <th>ghc 192.00</th>
                </tr>
                
            </tbody>

    </table></div>
    <!-- end table -->
   <!-- start ortail -->
   <div class="ortail col-sm-7">
    <div>
   <!-- start ortailsub -->
   <div class="ortailsub col-sm-6  ">
    <p>subtotal:</p>
    <p>ghc 985.00</p>
   </div>
<!-- end ortailsub -->
<!-- start ortailsub -->
<div class="ortailsub col-sm-6 ">
    <p>delivery:</p>
    <p>ghc 12.00</p>
</div>
<!-- end ortailsub -->
<!-- start ortailsub -->
<div class="ortailsub col-sm-6 ">
    <p>grandtotal: </p>
    <h5>ghc 985.00</h5>
</div>
<!-- end ortailsub -->
<!-- start ortailsub -->
<div class="ortailsub col-sm-6 ">
    <p>status: </p>
    <span>payment done</span>
</div>
<!-- end ortailsub -->
   </div>
<!-- end ortail -->
</div>
<!-- start ortbtn -->
<div class="ortbtn col-sm-7">
    <a href="">view tracking order</a>
</div>
<!-- end ortbtn -->

</div>
<!-- end ordend -->   




                                        </div>
                                        <!-- end product-basic2 -->
                                        
                                        </div>
                                        <!-- end product-body -->

                                    </div>
                                   
                                </div>
                                <!-- end product-wrapper -->

                               </div>
                                <!-- end product-container -->

                                    </div>
                                    <!-- Page-body end -->
                                {% endblock %}