{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
                            <!-- Main-body start -->
                            <div class="main-body">
                                <!-- start product-container -->
                               <div class="product-container col-sm-12">
                                <!-- start product-wrapper -->
                                <div class="product-wrapper col-sm-12">
                                    <div class="row">
                                        <!-- start product-head -->
                                        <div class="product-head col-sm-12">
                                            <h1>products list</h1>
                                           
                                           <a href="{% url 'dashboardUrls:addProductPage' %}" > <button> create new product</button></a> 
                    
                                        </div>
                                        <!-- end product-head -->

                                        <!-- start product-body -->
                                        <div class="product-body col-sm-12">
                                        <!-- start product-basic -->
                                        <div class="product-basic2 col-sm-12">
                                           
                                                                                
                                    <!-- start plist -->
                                    <div class="plist col-sm-11">
                                        <div class="row prow col-sm-12">
                                       
                                        <!-- start psearch -->
                                        <div class="psearch">
                                            <input type = "text" placeholder="Search" name ="search">
                                    <img class="" src="{% static 'img/search_24px.png'%}" alt="search" width="10%" >
     
                                        </div>
                                        <!-- end psearch -->
                                        <!-- start pcat -->
                                        <div class="pcat">
                                           <select name="cat" id="cat">
                                            <option value="" >all categories</option>
                                            <option value=""> shoes</option>
                                            <option value="">shirts</option>
                                            <option value="">watches</option>
                                            <option value="">spray</option>


                                           </select>
                                           
                                        
                                        </div>
                                        <!-- end pcart -->

                               </div>
                                    </div>
                                    <!-- end plist -->
<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
       <img class="" src="{% static 'img/products/26-1.jpg'%}" alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
<!-- start lprice -->
<div class="lprice col-sm-2">
    <p>ghc 130.00</p>
</div>
<!-- end lprice -->
<!-- start lprice -->
<div class="lprice col-sm-2">
    <h6>active</h6>
</div>
<!-- end lprice -->

<!-- start lprice -->
<div class="lprice col-sm-3">
                <a href="">edit</a>

            <a href="">delete</a>
</div>
<!-- end lprice -->
    </div>
</div>
<!-- end plist -->
                       


<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
            <img class="" src="{% static 'img/products/31-1.png'%}" alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <p>ghc 130.00</p>
        </div>
        <!-- end lprice -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <h6 class="arc">archive</h6>
        </div>
        <!-- end lprice -->

        <!-- start lprice -->
        <div class="lprice col-sm-3">
                        <a href="">edit</a>

            <a href = "">delete</a>
        </div>
        <!-- end lprice -->
    </div>
</div>
<!-- end plist -->

<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
            <img class="" src="{% static 'img/products/41nMS2PLcZL._AC_.jpg'%}" alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <p>ghc 130.00</p>
        </div>
        <!-- end lprice -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <h6>active</h6>
        </div>
        <!-- end lprice -->

        <!-- start lprice -->
        <div class="lprice col-sm-3">
            <a href="">edit</a>
            <a href = "">delete</a>
        </div>
        <!-- end lprice -->
    </div>
</div>
<!-- end plist -->

<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
            <img class="" src="{% static 'img/products/61bdCk+8RlL._AC_UX625_.jpg'%}" alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <p>ghc 130.00</p>
        </div>
        <!-- end lprice -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <h6 class="dis">disabled</h6>
        </div>
        <!-- end lprice -->

        <!-- start lprice -->
        <div class="lprice col-sm-3">
           <a href="">edit</a>

            <a href = "">delete</a>
        </div>
        <!-- end lprice -->
    </div>
</div>
<!-- end plist -->
<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
            <img class="" src="{% static 'img/products/299-2994689_nike-sb-pique-polo-high-resolution-black-t.png'%}" alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <p>ghc 130.00</p>
        </div>
        <!-- end lprice -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <h6>active</h6>
        </div>
        <!-- end lprice -->

        <!-- start lprice -->
        <div class="lprice col-sm-3">
                        <a href="">edit</a>

            <a href = "">delete</a>
        </div>
        <!-- end lprice -->
    </div>
</div>
<!-- end plist -->

<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
            <img class="" src="{% static 'img/products/212-2129063_nike-shoe-box-png-transparent-png.png'%}"
                alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <p>ghc 130.00</p>
        </div>
        <!-- end lprice -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <h6>active</h6>
        </div>
        <!-- end lprice -->

        <!-- start lprice -->
        <div class="lprice col-sm-3">
                        <a href="">edit</a>

            <a href = "">delete</a>
        </div>
        <!-- end lprice -->
    </div>
</div>
<!-- end plist -->
<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
            <img class="" src="{% static 'img/products/1529944171-axe-fragrance-spray-1529942743.jpg'%}"
                alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <p>ghc 130.00</p>
        </div>
        <!-- end lprice -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <h6>active</h6>
        </div>
        <!-- end lprice -->

        <!-- start lprice -->
        <div class="lprice col-sm-3">
                        <a href="">edit</a>

            <a href = "">delete</a>
        </div>
        <!-- end lprice -->
    </div>
</div>
<!-- end plist -->

<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
            <img class="" src="{% static 'img/products/299-2994689_nike-sb-pique-polo-high-resolution-black-t.png'%}"
                alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <p>ghc 130.00</p>
        </div>
        <!-- end lprice -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <h6>active</h6>
        </div>
        <!-- end lprice -->

        <!-- start lprice -->
        <div class="lprice col-sm-3">
                        <a href="">edit</a>

            <a href = "">delete</a>
        </div>
        <!-- end lprice -->
    </div>
</div>
<!-- end plist -->

<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
            <img class="" src="{% static 'img/products/Best-body-sprays.webp'%}"
                alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <p>ghc 130.00</p>
        </div>
        <!-- end lprice -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <h6>active</h6>
        </div>
        <!-- end lprice -->

        <!-- start lprice -->
        <div class="lprice col-sm-3">
                        <a href="">edit</a>

            <a href = "">delete</a>
        </div>
        <!-- end lprice -->
    </div>
</div>
<!-- end plist -->

<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
            <img class="" src="{% static 'img/products/download.png'%}"
                alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <p>ghc 130.00</p>
        </div>
        <!-- end lprice -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <h6>active</h6>
        </div>
        <!-- end lprice -->

        <!-- start lprice -->
        <div class="lprice col-sm-3">
                        <a href="">edit</a>

            <a href = "">delete</a>
        </div>
        <!-- end lprice -->
    </div>
</div>
<!-- end plist -->

<!-- start plist -->
<div class="plist2 col-sm-11">
    <div class="row col-sm-12">
        <!-- start checkboxp -->
        <div class="checkboxp col-sm-1">
            <input type="checkbox" name="checkbox">
        </div>
        <!-- start checkboxp -->
        <!-- start limg -->
        <div class="limg col-sm-4">
            <img class="" src="{% static 'img/products/459-4594900_nike-shoes-png-hd-transparent-png.png'%}"
                alt="search" width="30%">
            <h6>nike hoodie</h6>
        </div>
        <!-- end limg -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <p>ghc 130.00</p>
        </div>
        <!-- end lprice -->
        <!-- start lprice -->
        <div class="lprice col-sm-2">
            <h6>active</h6>
        </div>
        <!-- end lprice -->

        <!-- start lprice -->
        <div class="lprice col-sm-3">
                        <a href="">edit</a>

            <a href = "">delete</a>
        </div>
        <!-- end lprice -->
    </div>
</div>
<!-- end plist -->



                                       
                                        </div>
                                        <!-- end product-basic2 -->
                                        
                                        </div>
                                        <!-- end product-body -->

                                    </div>
                                    <!-- start leftright -->
                                    <div class="leftright col-sm-2">
                                        <a href=""><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                        <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                    </div>
                                    <!-- end leftright -->
                                </div>
                                <!-- end product-wrapper -->

                               </div>
                                <!-- end product-container -->

                                    </div>
                                    <!-- Page-body end -->
                                {% endblock %}